---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getNews } from '../libs/microcms';

// MicroCMSの呼び出し
const response = await getNews({ fields: ['id', 'title'] });
---

<Layout title="Astro Practicer">
	<main>
		<div class="title">
			<h1>Astro Practice</h1>
		</div>
		<div class="container">
			<section class="articles">
				<h2>Articles</h2>
				<ul>
					{
						response.contents.map((news: any) => (
							<li>
								<a href="#">{news.title}</a>
							</li>
						))
					}
				</ul>
			</section>
		</div>
	</main>
</Layout>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.title h1 {
		font-size: 48px;
		text-align: center;
	}

	.container {
		max-width: 1080px;
		margin: 0 auto;
		padding: 50px 0;
	}

	.container .articles {
		background: #eee;
		padding: 50px 25px;
		border-radius: 10px;
	}

	.container .articles h2 {
		font-size: 32px;
		padding: 0 15px;
	}

	.container .articles ul {
		margin-top: 25px;
		display: flex;
		flex-direction: column;
	}

	.container .articles ul li {
		border-bottom: 1px solid #ddd;
		list-style: none;
	}

	.container .articles ul li a {
		padding: 25px 15px;
		display: flex;
		text-decoration: none;
		color: #000;
		font-weight: bold;
	}

	.container .articles ul li a:hover {
		opacity: 0.7;
	}
</style>
